body{
    text-align: center;
    font-family:  Helvetica, sans-serif;
    color: yellow;
}
#cabecera{
    width: 300px;
    border: 2px solid red;
}
div{
    width: 300px;
    border: 2px solid violet;
}
h1{
    text-align: left;
}