body{
    text-align: center;
    font-family: sans-serif;
    color: grey;
}
#cabecera{
    width: 300px;
    border: 2px solid red;
}
div{
    width: 30px;
    border: 2px solid violet;
}
h1{
    text-align: left;
}